@{
    ViewBag.Title = "Shorten";
}
<div class="row justify-content-center align-items-center" style="height: 60vh;">
    <div class="col-md-4 shadow-box">
        @using (Html.BeginForm("Shorten", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div style="display: flex; align-items: center;">
                <div class="flex-grow-1 pr-2">
                    <div class="form-group">
                        <div id="formurl">
                            <input type="text" id="url" name="url" class="form-control" placeholder="Enter Long URL here" />
                            <div id="formbutton">
                                <a href="#" id="shortenButton">Shorten URL</a>
                            </div>
                        </div>
                        <div id="shortenedURL" class="mt-3 d-none">
                            <label for="copyURL">Shortened URL:</label>
                            <div class="input-group">
                                <input type="text" id="copyURL" class="form-control" readonly>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary" id="copyButton">Copy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                </div>
            </div>
        }
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#shortenButton").click(function (event) {
                event.preventDefault();
                var urlValue = $("#url").val();
                if (urlValue.trim() != "") {
                    $.ajax({
                        url: "/Home/Shorten",
                        type: 'POST',
                        data: $("form").serialize(),
                        success: function (result) {
                            if (result.Result == true) {
                                $("#copyURL").val(result.Message);
                                $("#shortenedURL").removeClass("d-none");
                            } else {
                                toastr.error(result.Message);
                                $("#url").focus();
                                $("#url").val("");
                            }
                        },
                        error: function () {
                            toastr.error("An error occurred. Please try again.");
                        }
                    });
                } else {
                    toastr.warning("Please enter value");
                    $("#url").focus();
                }

            });

            $("#copyButton").click(function () {
                var copyText = document.getElementById("copyURL");
                copyText.select();
                document.execCommand("copy");
                toastr.success("URL copied to clipboard!");
            });
        });
    </script>
}